@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(187, 187, 156);
}

.img{
  max-width: 100%;
}

.container{
  max-width: 1200%;
  margin: 0 auto;
}

.header{
  background-image: url(imagenes/color.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 80px 0 ;
}


.menu-icono{
  width: 33px;
}

.menu label{
  cursor: pointer;
  display: none;
 
}

.header-content{
  display: flex;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home{
  color: rgb(21, 20, 13);
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.menu .navbar ul li{
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fff;
  font-weight: 600;
  display: block;
}



.menu .navbar ul li a:hover{
  color: rgb(15, 15, 8);
}

#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}

.header{
  display: flex;
}

.header-txt{
  flex-basis: 50%;
}

.header-txt h1{
  font-size: 60px;
  color: #161313;
  line-height: 1.3;
  margin-bottom: 25;

}

.header-txt p{
  font-size: 17px;
  color: #1b1818;
  margin-bottom: 45px;
}

.butons{
  display: flex;
}

.popular{
  padding: 100px 0;
  text-align: center;
}

h2{
  color: #fff;
  font-size: 35px;
  margin-bottom: 45px;
}

.popular-content{
  display:flex ;
  justify-content: space-between;
}

.popular-content img{
  width: 150px;
  
}

.product-content{
  display: grid;
  grid: template columns 60px 60px;
  gap: 50px;
}



.product-1{
  background-color: black;
}

.product-txt{
  padding: 50px 30px;
}

h3{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-2{
  padding: 5px 25px;
  background-color: beige;
  margin-right: 0;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.link ul{
  display: flex;
}

.link ul li > a:hover{
  color: #fff;
}

#tabla-precios {
  display:inline-block;
  width:100%;
  margin-top:50px
 }
 
 /*Columnas*/
 
 .precio-col {
  display:inline-block;
  background-color:#f3f3f3;
  width:100%;
  max-width:500px;
  border-radius:10px;
  margin-bottom:50px;
  box-shadow: 0px 2px 5px #ddd
 }
 
 @media screen and (min-width:768px) {
  .precio-col {
  width:32%;
  float:left;
  margin-right:2%
  }
  
  .precio-col:last-child {
  margin-right:0
  }
 }
 
 /*Headers*/
 
 .precio-col-header {
  background-color:#333;
  padding:20px;
  border-top-left-radius:10px;
  border-top-right-radius:10px
 }
 
 .precio-col:nth-child(2) .precio-col-header {
  background-color:#dd9933
 }
 
 .precio-col-header h3 {
  color:#f3f3f3;
  text-align:center;
  font-size:30px;
  font-weight:600;
  margin-bottom:0
 }
 
 .precio-col-header p {
  text-align:center;
  color:#f3f3f3;
  font-size:14px;
  margin-bottom:0
 }
 
 /*Características*/
 
 .precio-col-features {
  padding: 0px; 
  
 }
 
 .precio-col-features p {
  padding:10px 0;
  margin:0;
  text-align:center;
  border-top:1px solid #ddd
 }
 
 .precio-col-features p:first-child,
 .precio-col-features p:last-child {
  border-top:none
 }
 
 /*Comprar*/
 
 .precio-col-comprar {
  padding:10px;
  max-width:250px;
  text-align:center;
  background-color:#dd9933;
  margin: 0 auto 20px;
  border-radius:10px;
  border: 2px solid #dd9933;
  transition: all 0.3s
 }
 
 .precio-col-comprar a {
  color:#f3f3f3;
  padding:10px;
  font-size:20px;
  text-transform:uppercase;
  transition: all 0.3s
 }
 
 .precio-col-comprar:hover {
  background-color:#f3f3f3;
  transition: all 0.3s
 }
 
 .precio-col-comprar:hover a {
  color:#dd9933;
  transition: all 0.3s
 }

@media(max-width:991px){
  .menu{
    padding: 20px;
  }
  .menu label{
    display: initial;
  }
  .menu .navbar{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: rgb(131, 140, 72);
    display: none;
  }

 #menu:checked ~ .navbar{
  display: initial;
 }

 .header{
  min-height: 0vh;
  padding: 80px 30px 50px 30px;
 }

 .header-txt{
  text-align: center;
  flex-basis: 100% ;
 }

 .header-txt{
  font-size: 50px;
  margin-bottom: 15px;
 }
 .header-txt h1{
  font-size: 50px;
  margin-bottom: 15px;

  .popular{
    display: none;
  }
 }

 footer {
  background-color: #5e6943;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
  
}

footer p {
  margin: 5px 0;
}









}
